/* Обнуление стилей + border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url(../img/promo/__bg.jpg) center center / cover no-repeat; /* Между вторым center и cover должен быть /, чтобы отображалась картинка */
    padding: 39px 0 62px;
}

.logo .logo-img {
    display: block;
    margin: 0 auto;
}

.logo .logo-text {
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-top: 14px;
}

.title {
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #f9bf3b;
}

.simple .title-big {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 21px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 21px;
}

.promo .promo-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
    padding: 0 13px;
}

.promo-text span {
    text-transform: uppercase;
    color: #f9bf3b;
    font-weight: 700;
}

.promo-btn {
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    display: block;
    padding: 25px 15px;
    margin: 0 auto;
    margin-top: 72px;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

.more {
    margin-top: 72px;
}

.more .more-text {
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.more .more-img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.waiting {
    min-height: 607px;
    padding: 88px 0 75px;
    background-color: #efefef;
}

.waiting .waiting-header,
.finish .finish-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish-header {
    color: #fff;
}

.waiting .waiting-divider,
.finish .finish-divider {
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    background-color: #f9bf3b;
}

.waiting .waiting-subheader {
    margin-top: 18px;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting-wrapper {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting-wrapper .waiting-item {
    width: 339px;
    text-align: center;
}

.waiting .waiting-wrapper .waiting-item .waiting-img {
    width: 100%;
}

.waiting .waiting-wrapper .waiting-item .waiting-descr {
    margin-top: 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4a4a4a;
}

.optimization {
    min-height: 550px;
    padding: 108px 0 74px 0;
}

.optimization .optimization-header {
    margin-left: 391px;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization-text {
    margin-top: 25px;
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4a4a4a;
}

.optimization .optimization-text span {
    font-weight: 700;
}

.optimization .optimization-img {
    position: absolute;
    top: 47px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 69px 0;
    background: url(../img/finish/__bg.jpg) center center / cover no-repeat;
}

.finish .finish-wrapper {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.finish .finish-wrapper .finish-item {
    width: 204px;
}

.finish .finish-wrapper .finish-item .finish-round {
    margin: 0 auto;
    background-color: #b4e2ff;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish .finish-wrapper .finish-item .finish-descr {
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #efefef;
}

.gift {
    min-height: 631px;
    padding: 88px 0;
    background-color: #efefef;
}

.gift .gift-header .gift-img {
    display: block;
    margin: 0 auto;
}

.gift .gift-text {
    margin-top: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.gift .gift-btn {
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    display: block;
    padding: 25px 15px;
    margin: 0 auto;
    margin-top: 51px;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

.start {
    min-height: 512px;
    padding: 81px 0 51px;
}

.start .start-img {
    display: block;
    margin: 0 auto;
}

.start .start-subheader {
    display: block;
    margin-top: 36px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.start .start-header {
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299cbd;
}

.start small {
    display: block;
    margin-top: 25px;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4a4a4a;
}

.footer {
    background-color: #1a1a1a;
    min-height: 169px;
    padding: 57px 0 69px;
    color: #888;
}

.footer a {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration-line: underline;
    padding-bottom: 5px;
    color: #888888;
}

.footer .footer-link-group {
    text-align: center;
}

.footer .phone {
    display: block;
    text-align: center;
    text-decoration: none;
}